<!DOCTYPE html>
<html lang="en" >
<head >
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tiệm Vàng Kim Hiền</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KimHien.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">


</head>
<body style="background-color:#F5F5DC;font-family:Roboto;overflow-y: visible;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3" style="background-color: #8B0000">
            <div class="container-fluid row">
                <div class="col-md-2 header-logo-container">
                    <img src="~/image/download-removebg-preview.png" alt="Logo" class="logo" />
                </div>
                <a class="navbar-brand col-md-4" asp-area="" asp-controller="Home" asp-action="Index" style="color:gold;text-align: center;font-size: x-large;">
                    <strong>Doanh Nghiệp Tư Nhân Vàng - Bạc - Đá Quý <br />
                        Kim Hiền </strong>
         
                    </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between header-container col-md-6" >
                    <ul class=" head-item navbar-nav flex-grow-1 " style="text-align: center ; display: ruby;font-size: x-large;">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" style="color:gold">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy" style="color:gold">Danh mục</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy" style="color:gold">Liên lạc</a>
                        </li>
                    </ul>
                    <div class="icon-container d-flex align-items-center justify-content-between" style="gap: 40px;">
                        
                        <a href="#" class="icon-item d-flex flex-column align-items-center" style="text-align: center;">
                            <i class="fas fa-envelope" style="font-size: 30px; color:gold;"></i>
                        </a>

                       
                        <a href="#" class="icon-item d-flex flex-column align-items-center" style="text-align: center;">
                            <i class="fas fa-shopping-cart" style="font-size: 30px; color:gold;"></i>
                        </a>


                        <div class="icon-item d-flex flex-column align-items-center" style="text-align: center;">
                            <a asp-area="" asp-controller="Home" asp-action="Login" style="text-decoration: none; cursor: pointer;">
                                <i class="fas fa-user-circle" style="font-size: 30px; color:gold; border: 2px solid gold; border-radius: 50%; padding: 5px;"></i>
                            </a>
                            <span style="font-size: 14px; color: gold; margin-top: 5px; font-weight: bold;">Login</span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="row border-top footer text-muted" style="background-color: #8B0000;margin:0" >
        <div class="container col-md-6" style="color: gold">
            <a style="font-size: 24px;text-align:center;margin-bottom: -5%;"> TIỆM VÀNG KIM HIỀN</a>
            <a style="font-family:Brush Script MT; text-decoration: underline; font-size:x-large; margin-left: 10%">Chuyên: </a>
            <a style="text-align: center;margin-bottom: auto;">
                MUA BÁN - TRAO ĐỔI VÀNG - BẠC - ĐÁ QUÝ<br/>
                NHẬN GIA CÔNG NỮ TRANG THEO CATALOGE
                </a>
            
        </div>
        <div class="col-md-6">
            <a href="https://www.facebook.com/profile.php?id=100011345796576" target="_blank" style="margin-bottom:-10% ">
                <i class="fab fa-facebook-square" style="font-size: 60px; color:gold ;"></i>
            </a> <br/>
            <a style="margin-bottom:auto">
                Địa chỉ: Ấp 4, xã Hòa Bình, huyện Xuyên Mộc, BRVT <br />
                Sđt: 0977550366 hoặc 0987080440
            </a>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
