html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header-logo{
    width: 100px;
    height: auto;
}
header-container {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}
ul li  {
    font-weight: bold;
}

ul head-item {
    display: flex;
    justify-content:flex-end;
}
header{
    width: 100%;
    max-width: 1440;
    margin: 0;
    
}
footer div{
    color: gold;
    font-weight: bold;
}