html {
  font-size: 14px;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  html {
    font-size: 10px;
    scroll-behavior: smooth;
    padding: 0px;
  }
}

html , body {
  height:100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.wrapper{
    overflow:auto;
    display: flex; /*cho phép các phần tử sắp xếp theo qui tắc của flex box*/
    flex-direction: column; /*sắp xếp các phần tử theo chiều dọc*/
    height: 85%;
}
main {
    min-height: 100vh;
    padding-left: 10px;
    position: relative;
}
footer{
    padding: 5px;
    flex-shrink: 0; /*footer không bị co lại*/
    position: relative;
}
.sett {
    margin-bottom: 60px;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

main{
    min-height: 100vh;
    padding: 20px;
}

ul li  {
    font-weight: bold;
}

ul head-item {
    display: flex;
    justify-content:flex-end;
}
header{
    width: 100%;
    max-width: 1440%;
    margin: 0;
}

footer div {
    color: gold;
    font-weight: bold;
    display: grid;
    margin-left:auto;
    margin-right: auto;
}
.logo {
    max-width: 100%; /* Đảm bảo logo không vượt quá kích thước khung cha */
    height: auto; /* Giữ nguyên tỷ lệ khung hình */
    display: block; /* Tránh xuất hiện khoảng trắng thừa */
    margin: 0 auto; /* Căn giữa logo */
}

.header-logo-container {
    max-width: 135px; /* Kích thước tối đa cho logo, bạn có thể thay đổi */
    width: 100%; /* Logo sẽ thu nhỏ theo khung cha */
}
table {
    color: #1B2633;
    background-color: white;
    text-align: center;
    border-spacing: 2px;
    height: 120px;
    border-collapse: collapse; /*tạo khoảng cách giữa các hàng*/
    width: 90%;
}
th, td {
    border-bottom: 1px solid #00000063;
    border-top: 1px solid #00000063;
}
th{
    font-size: 20px;
}
.index {
    background-color: #8B0000;
    color: white;
    width: 20%;
    font-size: x-large;
    text-align: center;
}

.sticky-header{
    position: sticky;
    top: 0; /*khoảng cách header với phía trên mh*/
    background-color: white;
    z-index: 1000; /*đảm bảo header luôn nằm trên ptu khác*/
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}
split-td{
    display:flex;
    flex-direction:column;
}
.pricetb {
    font-size: 20px;
    font-weight:bold;
}
.up {
    color: green;
    font-size: 15px;
}
.down {
    color: red;
    font-size: 15px;
}
.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
    display: inline-flex;
    width: 50px;
    height: 50px;
}
.button:hover{
    transform:scale(1.1);
    transition:0.3s ease;
}
img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
#btnBack{
    left:3px;
}
#btnNext{
    right:3px;
}
#image-container {
    position: relative; /* Để các nút định vị so với container */
    width: 100%;
    margin: 20px auto;
    text-align: center;
}