html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header-logo{
    width: 100px;
    height: auto;
}
header-container {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}
ul li  {
    font-weight: bold;
}

ul head-item {
    display: flex;
    justify-content:flex-end;
}
header{
    width: 100%;
    max-width: 1440px;
    margin: 0;
    
}
footer div {
    color: gold;
    font-weight: bold;
    display: grid;
    margin-left:auto;
    margin-right: auto;
}
.logo {
    max-width: 100%; /* Đảm bảo logo không vượt quá kích thước khung cha */
    height: auto; /* Giữ nguyên tỷ lệ khung hình */
    display: block; /* Tránh xuất hiện khoảng trắng thừa */
    margin: 0 auto; /* Căn giữa logo */
}

.header-logo-container {
    max-width: 135px; /* Kích thước tối đa cho logo, bạn có thể thay đổi */
    width: 100%; /* Logo sẽ thu nhỏ theo khung cha */
}
table{
    color: gold;
    background-color: #8B0000;
    text-align:center;
    border-spacing: 2px;
}

