@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Trang chủ";
}
<div class=" sett">

    <div class="row" id="image-container">
        <button class="button" id="btnBack">&#8249;</button>
        <img src="~/image/home.png" alt="home.png" />
        <button class="button" id="btnNext">&#8250;</button>
    </div>
    <br />
    <div class="md-col-4 index">
        <a>Bảng giá</a>
    </div>
    <br />
    <div>
        <table class="container-fluid" style="width:90%">
            <thead>
                <tr>
                    <th scope="col">Danh mục</th>
                    <th scope="col">Mua vào</th>
                    <th scope="col">Bán ra</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="column-type" scope="row">Vàng 610</th>
                    <td class="split-td">
                        <div class="pricetb">8.100.000</div>
                        <div class="up">&#9650; 0.01</div>
                    </td>
                    <td class="split-td">
                        <div class="pricetb">8.100.000</div>
                        <div class=" up">&#9650; 0.01</div>
                    </td>
                </tr>
                <tr>
                    <th class="column-type" scope="row">Vàng 980</th>
                    <td class="split-td">
                        <div class="pricetb">8.100.000</div>
                        <div class="down"> &#9660; 0.01</div>
                    </td>
                    <td class="split-td">
                        <div class="pricetb">8.100.000</div>
                        <div class="down"> &#9660; 0.01</div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
    <br />
    <div class="md-col-4 index">
        <a>Sản phẩm nổi bật</a>
    </div>
    <br />
    <div class="md-col-4 index">
        <a>Sản phẩm mới nhất</a>
    </div>
    <br />
    <div class="md-col-4 index">
        <a>Sản phẩm bán chạy</a>
    </div>
    <br />
</div>