@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Trang chủ";
}
<div class="row">
    <div class="col-md-12">
<div    >
    <table class="container-fluid">
        <thead>
            <tr>
                <th scope="col" style="text-align:center; font-size:30px">BẢNG GIÁ VÀNG</th>
            </tr>
            <tr>
                <th scope="col">Danh mục</th>
                <th scope="col">Mua vào</th>
                <th scope="col">Bán ra</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="column-type" scope="row" width="50%">Vàng 610</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="column-type" scope="row" width="50%">Vàng 980</th>
                <td></td>
            </tr>

        </tbody>
    </table>
</div>

</div>